@charset "utf-8";
/* CSS Document */
/* Allgemeine Einstellung über Schriftart, Farbe und Hyperlinks */

body						{ background-color:#FFF;}
font,th,td,p 				{ font-family:'Segoe UI', Tahoma, Helvetica, Sans-Serif;}
hr							{ height: 0px; border: solid #EFEFEF 0px; border-top-width: 1px;}


a:link,a:active,a:visited 	{ color : #555; text-decoration:none;}
a:hover						{ text-decoration: underline; color : #555; }

.login_notification			{font-family:Verdana; color:#FFF; font-size:10px;}
.headline					{font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif; font-size:24px; color:#000; text-align:left; margin-bottom:15px; letter-spacing:3px;}
.subline					{font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif; font-size:15px; color:#000; text-align:left; margin-top:-15px;margin-bottom:15px; letter-spacing:3px;}
.categorie_hl				{font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif; font-size:19px; margin-bottom:-8px; display:block; }
.post_headline				{font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif; font-size:28px; color:#454545; text-align:left; margin-bottom:15px; letter-spacing:1px;}
.post_header				{font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif; font-size:11px; font-weight:bold;}
.body_line					{height: 0px; border: solid #F8F8F8 0px; border-top-width: 2px; margin-top:4px;}

.td_headline				{background-color:#AABF00; line-height:25px; letter-spacing:3px; margin-top:5px; padding-left:5px;}

.clearing					{clear:both;}

input, textarea, select, radio, email, date
{
	font-family:'Segoe UI', Tahoma, Helvetica, Sans-Serif;
	font-size:11px;
	text-indent :2px;
}
input[type="password"],[type="text"],[type="file"]	{height:17px;}
#search input 										
{
	border-radius:2px;
}
#search input[type="text"],[type="password"]
{	
	vertical-align:middle;
	background:#ddd; 
	border:1px solid #bbb;
}
#search input[type="image"]
{
	vertical-align:middle;
	margin-left:-22px; 
	border:none; 
	color:#fff; 
	background:#ddd;
}

.tips_topic_container
{
	min-height:30px;
	padding-top:5px;
	padding-left:5px;
	border:1px solid #F0F0F0; 
	background-color:#F9F9F9;
}	
.website
{
	width:1200px;
	margin:auto;
	box-shadow: 0px 0px 80px 20px #555;
}
			
#msgbox
{
	position:absolute;
	left:50%;
	top:300px;
	margin-left:-300px;
	min-height:80px;
	width:500px;
	display:none;
	background-color:#FFF;
	border: 3px solid #6badf6;
	border-radius:0px;
	padding:10px;
	padding-left:5px;
	padding-right:5px;
	z-index:2;
}
#msgbox_save_confirm
{
	position:absolute;
	left:50%;
	top:300px;
	margin-left:-300px;
	min-height:80px;
	width:500px;
	display:none;
	background-color:#FFF;
	border: 3px solid #6badf6;
	border-radius:0px;
	padding:10px;
	padding-left:5px;
	padding-right:5px;
	z-index:2;
}
#darkbackground
{
	position:absolute;
	height:100%;
	width:100%;
	display:none;
	background-color:#121212;
	opacity:0.65;
	margin-left:-8px;
	z-index:1;
}

.formular
{
	width:900px;
	border: 1px solid #DDD;
	border-left: 5px solid #9C3;
	margin:auto;
	background-color:#FFF;
	padding-left:15px;
	margin-top:15px;
	font-size:16px;
	box-shadow: 0 5px 50px 0px gray;
	border-radius:3px;
	color:#666;
}

a.button_forward
{
	display:inline-block;
	min-width:80px;
	height:20px;
	padding-top:5px;
	text-align:center;
	margin-left:5px;
	padding-left:3px;
	padding-right:3px;
	border:1px solid #6ac97b;
	background-color:#1db538;
	color:#FFF;
}

a.button_forward:hover
{
	text-decoration:none;
	border:1px solid #6ac97b;
	background-color:#43d75e;
}

a.button_box
{
	display:block;
	min-width:80px;
	height:20px;
	padding-top:5px;
	text-align:center;
	margin-top:10px;
	margin-right:5px;
	padding-left:3px;
	padding-right:3px;
	border:1px solid #ABABAB;
	background-color:#FFF;
	color:#444;
	float:left;
}
a.button_box:hover
{
	text-decoration:none;
	border:1px solid #a3bde3;
	background-color:#d5e1f2;
}
a.pagescroll_link
{
	display:inline-block;
	height:15px;
	min-width:10px;
	padding-top:3px;
	text-align:center;
	margin-right:5px;
	padding-left:3px;
	padding-right:3px;
	border:1px solid #ABABAB;
	background-color:#FFF;
	font-size:11px;
	color:#444;
}
a.pagescroll_link:hover
{
	text-decoration:none;
	border:1px solid #a3bde3;
	background-color:#d5e1f2;
}
a.pagescroll_link_active
{
	display:inline-block;
	height:15px;
	min-width:10px;
	padding-top:3px;
	text-align:center;
	margin-right:5px;
	padding-left:3px;
	padding-right:3px;
	border:1px solid #a3bde3;
	background-color:#d5e1f2;
	font-size:11px;
	color:#444;
}
.pagescroll_link_box
{
	width:95%;
	margin:auto;
	text-align:right;
}
.post_body
{
	width:95%;
	margin:auto;
	margin-top:20px;
	font-size:15px;
	color:#454545;
	font-family:'Segoe UI', Tahoma, Helvetica, Sans-Serif;
	letter-spacing:0.5px;
}
.post_bar
{
	width:95%;
	margin:auto;
	margin-top:30px;
}
.post_bar ul
{
	background:#EFEFEF;
	border:1px solid #CCC;
	padding:5px;
	display:block;
	overflow:hidden;
	clear:both;
}
.post_bar li
{
	display:block;
	line-height:30px;
	height:30px;
	min-width:70px;
	float:left;
	font-size:14px;
	list-style:none;
	padding-left:30px;
	padding-right:5px;
	margin-left:2px;
	margin-right:2px;
	text-align:left;
}
.post_bar li:hover
{
	background-color:#9C3;
	border-radius:3px;
}
li.facebook
{
	background:url(../grafics/social_media/facebook.png) no-repeat left;
}
li.twitter
{
	background:url(../grafics/social_media/twitter.png) no-repeat left;
}
li.google
{
	background:url(../grafics/social_media/googleplus.png) no-repeat left;
}
li.line
{
	min-width:0px;
	padding:0px;
	border:1px ;
	border-left:1px solid #CCC;
	border-left:1px solid #CCC;
}
li.kommentare
{
	padding-left:5px;
	float:right;
}li.kommentare:hover
{
	background-color:#39F;
}

.post_bar a:hover
{
	text-decoration:none;
}
.post_extension
{
	width:95%;
	margin:auto;
	margin-top:30px;
	font-size:15px;
	color:#454545;
}
.post_infos
{
	width:95%;
	margin:auto;
	margin-top:15px;
	font-size:11px;
	color:#454545;
	text-align:right;
}
.post_dateline
{
	width:95%;
	margin:auto;
	margin-top:15px;
	font-size:11px;
	color:#666;
	text-align:left;
}
				
/*Hier wird das Aussehen und Position der DIV Container bestimmt  */

/*Titel Container*/
.box_header 
{ 	
	height:120px;
	width:1200px;
	color: #FFFFFF;
	font-size: 25px;
	font-weight:bold; 
	font-family:Verdana;
	text-align:left; 
	margin:auto;
	background-image:url(../header.png);
	background-repeat:no-repeat;
	background-color:#333;	
}
/*Informationsleiste*/
#box_infopanel_search
{
	height:35px;
	width:243px;
	padding-left:7px;
	color: #FFFFFF;
	font-size: 15px;
	font-family:Verdana;
	text-align:left; 
	margin:auto;
	background-color:#333333;
	float:left;
}			
#box_infopanel_search a:link {color:#FFF; text-decoration:none; font-size:11px;}
#box_infopanel_search a:hover {color:#FFF; text-decoration:underline; font-size:11px;}
#box_infopanel_search a:visited {color:#FFF; text-decoration:none; font-size:11px;}	

/*Menuleiste oben*/
.menurow_top
{ 
	width:1200px;
	margin:auto;
}
.menurow_top a	
{
	text-decoration:none;
	display:block;
	color:#FFF;
}
.menurow_top ul
{
	
	margin-top:0px;
	margin-bottom:0px;
	background:#333;
	display:block;
	overflow:hidden;
	padding-start:0px;
	clear:both;
	
}
.menurow_top li	
{
	padding:1px;
	padding-left:8px;
	padding-right:8px;
	line-height:25px;
	min-width:110px;
	margin-right:2px;
	list-style:none;	
	font-size:14px;
	text-align:center;
	letter-spacing:1.5px;
	font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
	font-weight:600;
	float:left;
}
li.news
{
	margin-left:-40px;
}
li.news:hover
{
	background-color:#dc572e;
}
li.tips:hover
{
	background-color:#68217a;	
}
li.artikel:hover
{
	background-color:#9C3;	
}
li.downloads:hover
{
	background-color:#2e8def;	
}
li.forum:hover
{
	background-color:#b41b43;	
}
li.search
{
	line-height:0px;
	letter-spacing:0;
	float:right;
}

.box_menu_extension 
{
	height:25px;
	line-height:25px;
	width:1162px;
	padding-left:38px;
	margin:auto;
	color: #000;
	font-family:'Segoe UI', Tahoma, Helvetica, Sans-Serif;
	letter-spacing:1px;
	font-size:11px;
	background-color:#666;
	clear:both;
}
.box_menu_extension a:link {color:#EEE; text-decoration:none;} /*ff9147 darkorange*/
.box_menu_extension a:hover {color:#EEE; text-decoration:none;}
.box_menu_extension a:visited {color:#EEE; text-decoration:none;}
/*Seiteninhalt*/
.box_content 	
{ 	
	width:1200px;
	margin: auto;
	font-family:'Segoe UI', Tahoma, Helvetica, Sans-Serif;
	color: #000;
	text-decoration: none;
	background-color:#999;
}
/*Text/Inhalt - links*/
#box_content_text 	
{ 	
	width:930px;
	min-height:730px;
	padding:5px;
	padding-left:10px;
	font-size: 15px;
	letter-spacing:0.5px;
	color: #000;
	background-color:#FFF;
	border:solid 1px #CCC;
	float:left;
}
/*Tile Container rechts*/
#box_content_tiles 	
{ 	
	width:250px;
	font-size: 12px; 
	font-family:Verdana;
	color: #000;
	float:right;
	
}
.categories	
{
	margin-top:20px;
}
.categorie_pics	
{
	width:220px;
	height:100px;
	border-color:#F9F9F9;
	border-left:1px solid;
	border-top:1px solid;
	border-bottom:1px solid;
	border-bottom-left-radius:0px;
	border-top-left-radius:0px;
	overflow:hidden;
	float:left;
}
.categorie_text	
{
	width:670px;
	height:85px;
	color: #000;
	font-size: 12px;
	font-family:Verdana;
	padding-left:10px;
	border-top: 1px solid;
	border-right: 1px solid;
	border-top-right-radius:0px;
	border-color:#F9F9F9;
	float:left;
}
.categorie_status 	
{
	width:675px;
	height:15px;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-bottom-right-radius:5px;
	border-color:#F9F9F9;
	margin-left:221px;
	margin-top:-16px;
	color:#BBB;
	text-align:right;
	font-size: 11px;
	padding-right:0px;
	font-family:Verdana;
}
					
.new_articles	
{
	border-bottom:2px solid #CCC;
	color: #000;
	font-size: 12px;
	font-family:Verdana;
	padding-left:2px;
	padding-bottom:10px;
	margin-bottom:10px;
}
.new_article_pics	
{
	border:1px solid #666;
	color: #FFFFFF;
	font-size: 11px;
	text-align:right; 
	font-family:Verdana;
	float:left;
	margin:7px;
}
			
/*fußzeile*/
.box_footer 
{ 	
	height:31px;
	width:1190px;
	margin:auto;
	padding-top:19px;
	padding-left:10px;
	color: #666;
	font-size: 11px;
	text-align:left; 
	font-family:Verdana;
	background-color:#333333;
}
