<div id="darkbackground"></div>
<div style="height:180px;"></div>
<header class="box_header">
    <div id="header-wrapper" style="width:1200px; margin:auto; font-family:'Segoe UI', Tahoma, Helvetica, Sans-Serif;">
        <div id="header-pic" style="float:left; padding-top:10px;"><img src="template/win8_style/grafics/other/win8_logo_small.png" alt="logo"/></div>
        
        <div style="float:right; width:91%; border-bottom:1px solid #000; box-shadow: 0px 1px #3a3a3a">
        	<div id="header-text" style="float:left; font-size:36px; color:#3CF; letter-spacing:3px;">Windows Service Center</div>
            <div id="header-notification-bar" style="float:right; line-height:24px;">
            	<a href="#" title="Benachrichtigung"><img src="template/win8_style/grafics/usercontrolcentre/header_notification.png" alt="notifications" /></a>
                <a href="#" title="Nachrichten"><img src="template/win8_style/grafics/usercontrolcentre/header_message.png" alt="messages" /></a>
                {if=" '{BACKEND_VIEW}' == true "}
                	<a href="?site=admin" title="Backend"><img src="template/win8_style/grafics/usercontrolcentre/backend_settings.png" alt="backend" /></a>
				{/if}
            </div>
        	<div id="header-user-info">Benutzer: {FIRSTNAME}</div>
        	<div class="clearing"></div>
        </div>
        <div class="clearing"></div>
        
        <div id="header-subtitle" style="margin-left:117px; margin-top:-50px; letter-spacing:2px;">The Ultimate Servicecenter</div>
	</div>
</header>
<nav>
    <div class="menurow_top">
        <div class="menurow_top_items">
            <ul>
                {foreach PLUGINS key=key value=PLUGIN}
                <li class="{PLUGIN:style_name}"><a href="?site={PLUGIN:plugin_name}&amp;action={PLUGIN:default_action}&amp;id={PLUGIN:id}">{PLUGIN:display_name}</a></li>
                {/foreach}
                <li class="search">
                    <form method="post" class="search" action="#">
                        <input type="text" placeholder="Suchbegriff eingeben..." style="width:230px; height:20px;" />
                       <input type="image" src="grafiken/search.png" alt="search" style="width:16px; height:16px;" />&nbsp;
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="menu_extension" id="infoDIV">
    <div class="menu_extension_items">
        <a href="?site=addcat">Kategorie hinzuf&uuml;gen</a>&nbsp;&middot;&nbsp;
        <a href="?site=addtext">Tipp erstellen</a>&nbsp;&middot;&nbsp;
        <a href="#" id="console-toggler">DEV Console</a>&nbsp;&middot;&nbsp;
        <a href="?site=acl_test&amp;action=view">ACL Admin</a>&nbsp;&middot;&nbsp;
        <a href="javascript:msgBox('sie haben gerade die Funktion &quot;msgBox&quot; aufgerufen. <br>Das ist eine Testfunktion um sogenannte Alerts einach auf den Bildschirm darzustellen.', 'Windows Service Center', true)">JavaScript</a>&nbsp;&middot;&nbsp;
        <a href="?site=fw_tests">Framework Tests</a>
    </div>
</div>