<div class="post_dateline">Verfasst am {DATE}</div>
<hr width="95%" />
<div class="post_body">
	<div class="post_header">{SUBTITLE}</div>
	<div class="post_headline">{TITLE}</div>
	<div>{TEXT}</div>
</div>
<div class="post_bar">
	<ul>
		<li class="facebook"><a href="#">Facebook</a></li>
        <li class="line"></li>
		<li class="twitter"><a href="#">Twitter</a></li>
        <li class="line"></li>
		<li class="google"><a href="#">Google+</a></li>
 		<li class="line"></li>
		<li class="kommentare"><a href="#">0 Kommentare &raquo;</a></li>
        <li class="line" style="float:right"></li>
	</ul>
</div>
<div class="post_infos">
	Autor: <a href="#">{AUTHOR}</a> | Quelle: {SOURCE}
</div>