<style type="text/css">

.backend_cats_wrapper ul
{
	margin:5px;
	padding:5px;
	float:left;
	list-style-type:none;
	display:block;
	width:300px;
	min-height:200px;
	border:1px solid grey;
	background-color:#fff;
	border-radius:5px;
}
.backend_cats_wrapper li
{
	display:block;
}
li#permissions
{
	
}
.backend_cats_wrapper a
{
	width:100%;
	line-height:30px;
	display:inline-block;
}
.backend_cats_wrapper a:hover
{
	background-color:#ccc;
	text-decoration:none;
}
.backend_cats_wrapper
{
	
}

</style>

<h1>Systemeinstellungen</h1>
<div class="step_line"></div>
<div class="backend_cats_wrapper">
	<ul>
		<h4 style="margin-bottom:5px;">Grundeinstellungen</h4>
		<li id="ressources">
			<a href="#">
				<img src="http://localhost/windows_service_center/template/win8_style/grafics/backend/resources.png" style="float:left;">Ressourcen verwalten
			</a>
		</li>
		<li id="permissions">
			<a href="#">
				<img src="http://localhost/windows_service_center/template/win8_style/grafics/backend/permissions.png" style="float:left;">Rechte verwalten
			</a>
		</li>
		<li id="roles">
			<a href="#">
				<img src="http://localhost/windows_service_center/template/win8_style/grafics/backend/roles.png" style="float:left;">Rollen verwalten
			</a>
		</li>
	</ul>
	<ul>
	<h4 style="margin-bottom:5px;">Gruppen</h4>
		<li>
        	<a href="#">
				<img src="http://localhost/windows_service_center/template/win8_style/grafics/backend/usergroup.png" style="float:left;">Gruppen verwalten
			</a>
        </li>
	</ul>
	<ul>
	<h4 style="margin-bottom:5px;">Benutzer</h4>
		<li>
            <a href="#">
				<img src="http://localhost/windows_service_center/template/win8_style/grafics/backend/user.png" style="float:left;">Benutzer verwalten
			</a>
        </li>
	</ul>
	<div class="clearing"></div>
</div>