#container li {
background-image: url("navigate.png");
    background-repeat: no-repeat;   
    list-style: none outside none;
}	
.sprite-top_hover{background-position: 0px 0px; width: 48px; height: 48px; }
.sprite-top{background-position: 0px -58px; width: 48px; height: 48px; }
